@media screen and (max-width: 900px) {
    main {
        .main-content {
            p {
                font-size: 1.6rem;
            }

            .content-table {
                display: block;
                border: 1px solid $color-4;
                margin-bottom: 3rem;
                padding: 3rem;
    
                h4 {
                    text-align: center;
                    font-size: 1.8rem;
                    letter-spacing: 1px;
                }
    
                ul {
                    margin: 2rem 0;
                }
    
                li {
                    margin-top: 1.5rem;
                }
    
                a {
                    color: $color-1;
                }
            }
        }

        .side-content {
            display: none;
        }
    
        .profile-overview {
            display: block;
            font-size: 1.6rem;
            width: 100%;
            max-width: 34rem;
            margin: 0 auto 3rem;

            .buhari-details {
                padding: 2rem 0;
            }

            .flex {
                display: flex;
                justify-content: space-between;
                margin-bottom: 2.4rem;
                margin-top: 1rem;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }

    main {
        left: 0;

        .main-content {
            padding: 4rem;
        }
    }
}